/*! reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! end of reset */

/** general **/
html,
body {
  font-family: sans-serif, Arial;
  color: #222;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #333;
}
p {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  padding: 15px 25px;
  font-weight: 700px;
  font-size: 14px;
  cursor: pointer;
  border: 0;
}
.btn-primary {
  background: white;
  color: #222;
}
.btn-primary:hover {
  background: #222;
  color: white;
}
.btn-dark {
  background: #222;
  color: white;
}
.btn-dark:hover {
  background: white;
  color: #222;
  border: 1px solid #222;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.underline {
  padding-bottom: 10px;
  border-bottom: #111 1px solid;
}

/** end general **/

/** header **/

.header {
  background: #333;
  overflow: auto;
  line-height: 1.7em;
}

.header nav h1 {
  padding: 20px;
  float: left;
  color: white;
  margin-bottom: 0;
}
.header nav h1 a {
  color: white;
}
.header nav ul {
  float: right;
  list-style: none;
}
.header nav ul li {
  float: left;
}
.header nav ul li a {
  color: white;
  display: block;
  padding: 20px;
}

.header nav ul li a :hover {
  background: #444;
}
.active {
  background: #444;
}

/**vp **/

.vp {
  height: 700px;
  background: url(../images/cafe1.jpg) center center / cover;
}

.vp-content {
  padding-top: 150px;
  max-width: 500px;
  color: white;
  display: block;
  margin: auto;
  text-align: center;
}
.vp-content h1 {
  font-size: 50px;
}
.separator {
  width: 100px;
  height: 10px;
  background: #111;
  margin: 20px auto;
}
.vp-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

/* *section 2 **/

.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}

.features {
  padding: 100px 0;
  overflow: auto;
  text-align: center;
}
.feature {
  float: left;
  width: 50%;
}
/* *person* */
.person {
  height: 400px;
  background: url(../images/cafe3.jpg) center center / cover;
}
/* *reservation* */

.reservation {
  padding: 100px 0;
  text-align: center;
}

footer {
  background: #222;
  color: white;
  padding: 30px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  font-size: large;
}

/* *where* */

.where {
  padding: 180px 0;
  overflow: auto;
  min-height: 100vh;
}
.where-img {
  float: left;
  width: 40%;
  border: whitesmoke 1px solid;
  border-radius: 10px;
}
.where-text {
  float: right;
  width: 50%;
}

.chip {
  display: inline-block;
  background: #333;
  border-radius: 100%;
  color: white;
  width: 26px;
  text-align: center;
}

.chip-purple {
  background: #a0006e;
}
.chip-brown {
  background: #6e491e;
}
